extends skeleton

block content
	.container
		h1 Payment Success!
		p Your card <strike>was</strike> (would have been) charged. 
		p An <a href='/view/order'> order </a> was also created.
		a(href='/paypal/test') Return to Payment