script.
	window.onload = function() {
		console.log('am I crazy here???');
		document.getElementById('butt').onclick = function() {
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/api/series", true);
			ajax.setRequestHeader("Content-type", "application/json; charset=utf-8");
			ajax.data = {}
			ajax.onreadystatechange = function() {console.log(ajax.response)}
			ajax.send(JSON.stringify({name: 'bryce', description: 'a description lol'}));
		}
	}
	
h1 ASDFG LMAOOOO

button#butt Post

form(action='/api/user' method='post')
	input(type='hidden' value='kolton' name='lname')
	input(type='submit')